[submodule "AUR/easyhg"]
	path = AUR/easyhg
	url = https://aur.archlinux.org/easyhg.git
[submodule "AUR/gentoo-mirrorselect"]
	path = AUR/gentoo-mirrorselect
	url = https://aur.archlinux.org/gentoo-mirrorselect.git
[submodule "AUR/lampe"]
	path = AUR/lampe
	url = https://aur.archlinux.org/lampe.git
[submodule "AUR/lfs-me"]
	path = AUR/lfs-me
	url = https://aur.archlinux.org/lfs-me.git
[submodule "AUR/oggextract"]
	path = AUR/oggextract
	url = https://aur.archlinux.org/oggextract.git
[submodule "AUR/ssl-fetch"]
	path = AUR/ssl-fetch
	url = https://aur.archlinux.org/ssl-fetch.git
[submodule "AUR/supertux-old"]
	path = AUR/supertux-old
	url = https://aur.archlinux.org/supertux-old.git
[submodule "AUR/terasology"]
	path = AUR/terasology
	url = https://aur.archlinux.org/terasology.git
[submodule "AUR/terasology-devbuild"]
	path = AUR/terasology-devbuild
	url = https://aur.archlinux.org/terasology-devbuild.git
[submodule "AUR/update-grub"]
	path = AUR/update-grub
	url = https://aur.archlinux.org/update-grub.git
[submodule "AUR/qmake2cmake"]
	path = AUR/qmake2cmake
	url = https://aur.archlinux.org/qmake2cmake.git/
[submodule "AUR/mecab"]
	path = AUR/mecab
	url = https://aur.archlinux.org/mecab.git/
