pkgbase = cjson
	pkgdesc = Ultralightweight JSON parser in ANSI C
	pkgver = 1.7.14
	pkgrel = 1
	url = https://github.com/DaveGamble/cJSON
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = cmake
	source = cjson-1.7.14.tar.gz::https://github.com/DaveGamble/cJSON/archive/v1.7.14.tar.gz
	sha512sums = 8de1dedc123ed025a9cbe6764e5963eb0550f726d06a8f6bedfe05b84e852cd9c1587cd381669663073967f42be894a535ba239013f304ce544c3b15a6477c01

pkgname = cjson

